target/
lib_managed/
src_managed/
project/boot/
.history
.cache

*.class
*.log

.lib/
dist/*
project/plugins/project/

.scala_dependencies
.worksheet

.ensime_cache/
.ensime

.idea/

precompute.data
visualization/
out.svg

/test-scenario.log
/test-scenario-perf.log
