A-foreman;foreman
A-worker-001;worker
A-worker-002;worker
A-worker-003;worker
B-foreman;foreman
B-worker-001;worker
B-worker-002;worker
B-worker-003;worker
C-foreman;foreman
C-worker-001;worker
C-worker-002;worker
C-worker-003;worker
standby-001;worker
machine-A;machine
machine-B;machine
machine-C;machine
factory;factory
dispenser;dispenser
workplace-A;workplace
workplace-B;workplace
workplace-C;workplace